<ion-view view-title="Bricolage">
  <ion-content>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/bricolage.jpg">
      <h2>Fabriquer un porte clé</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
  </ion-content>
</ion-view>
