<ion-view view-title="Créer un Tutoriel">
    <ion-content scroll="false" ng-controller="DbCtrlAdd">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nom du tutoriel" ng-model="tutoName">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Choisir la catégorie
                </div>
                <select ng-model="tutoCategorie">
                    <option Selected>Cusine</option>
                    <option>Bricolage</option>
                    <option>Sport</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea placeholder="Description" ng-model="tutoDescription" cols="10" rows="10"></textarea>
            </label>
            <div class="padding">
                <button class="button button-block button-positive" ng-click="savaTuto()">
                    Publier <i class="ion-checkmark-round"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>