<ion-view view-title="Cuisine">
  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left" href="#" ng-repeat="">
        <img src="img/food.jpg">
        <h2>Recettes du saumon</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/food.jpg">
        <h2>Recettes du saumon</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/food.jpg">
        <h2>Recettes du saumon</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/food.jpg">
        <h2>Recettes du saumon</h2>
        <p>Nine Inch Nails</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/food.jpg">
        <h2>Recettes du saumon</h2>
        <p>Nine Inch Nails</p>
      </a>


    </div>
  </ion-content>
</ion-view>
