<ion-view view-title="StepByStep">
  <ion-content scroll="false">
    <section class="categ">



    <div class="row two">
      <a href="#/app/cuisine">
        <div class="food">
          <h2>Cuisine</h2>
        </div>
      </a>
     </div>


    <div class="row two">
      <a href="#/app/sport">
        <div class="sport">
        <h2>Sport</h2>
      </div>
      </a>

    </div>

      <div class="row two">
        <a href="#/app/bricolage">
          <div class="bricolage">
            <h2>Bricolage</h2>
          </div>
        </a>

      </div>

    </section>
   </ion-content>
  </ion-view>