<ion-view view-title="Sport">
  <ion-content>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/sport.jpg">
      <h2>Abdos fessiers</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>
    <a class="item item-thumbnail-left" href="#">
      <img src="img/food.jpg">
      <h2>Recettes du saumon</h2>
      <p>Nine Inch Nails</p>
    </a>

  </ion-content>
</ion-view>
