<ion-view view-title="Blalva">
    <ion-content scroll="false" class="padding" ng-controller="DbCtrlAdd">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nom tuto" ng-model="tutoName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Description" ng-model="tutoDescription">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Catégories
                </div>
                <select ng-model="tutoCategorie">
                    <option Selected>Cusine</option>
                    <option>Bricolage</option>
                    <option>Sport</option>
                </select>
            </label>
            <button class="button button-block button-positive" ng-click="savaTuto()">
                <i class="ion-checkmark-round"></i> Publier
            </button>
        </div>
    </ion-content>
</ion-view>