<ion-view title="{{title}}">
    <ion-content ng-controller="DbCtrl" scroll="false" class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nom tuto" ng-model="tutoName">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Description" ng-model="tutoDescription">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Catégories
                </div>
                <select ng-model="tutoCategorie">
                    <option>Cusine</option>
                    <option selected>Bricolage</option>
                    <option>Sport</option>
                </select>
            </label>
            <button class="button button-block button-positive" ng-click="savaTuto()" ng-repeat="tuto in tutos">
                <i class="ion-checkmark-round"></i> Publier {{tuto.id}}
            </button>
        </div>
    </ion-content>
</ion-view>